/*
CSS for xaringan slides in Exegetic flavor
Author: Andrew B. Collier
Updated: 2019-05-25

Based originally on the rutgers theme.

Relies on some functionality implemented in ninjutsu. Load CSS in the following order:

css: [default, ninjutsu, exegetic, exegetic-fonts]

These are also worth looking at for inspiration:

- uo and uo-fonts
- uol and uol-fonts
- metropolis and metropolis-fonts
- kunoichi and ninjutsu
- shinobi
*/

a, a > code {
  color: #cc0033; /* rgb(249, 38, 114) */
  text-decoration: none;
}

h1, h2, h3, p {
  padding-left: 0% !important;
}

.footnote {
  position: absolute;
  bottom: 1em;
  padding-right: 4em;
  font-size: 95%;
}

.remark-code-line-highlighted {
  background-color: #FFD3DE !important;
}

.inverse {
  background-color: #272822;
  color: #777872;
  text-shadow: 0 0 20px #333;
}
.inverse h1, .inverse h2, .inverse h3 {
  color: #f3f3f3;
  line-height: 1.0em;
}

.section {
  background-color: #3498db;
  color: #777872;
  text-shadow: 0 0 20px #333;
}
.section h1, .section h2, .section h3 {
  color: #f3f3f3;
  line-height: 1.0em;
}

.left-column {
  color: #777;
  width: 25%;
  height: 92%;
  float: left;
}

.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}

.right-column {
  width: 70%;
  float: right;
  padding-top: 1em;
}

.pull-left {
  float: left;
  width: 45%;
}

.pull-right {
  float: right;
  width: 45%;
}

.pull-right ~ * {
  clear: both;
}

img, video, iframe {
  max-width: 100%;
}

blockquote {
  border-left: solid 5px lightgray;
  padding-left: 1em;
}

th, td {
    padding:0 15px 0 15px;
}

table {
  margin: auto;
  border-top: none;
  border-bottom: none;
}

table thead th { border-bottom: none; }
thead, tfoot, tr:nth-child(even) { background: none; }

@page { margin: 0; }
@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}

/* ================================================================================================================= */
/* CODE BLOCKS                                                                                                       */
/* ================================================================================================================= */

.hljs-github .hljs {
    display: block;
    overflow-x: auto;
    padding: .5em;
    color: #333;
    background: #eee;
}

/* ================================================================================================================= */
/* TITLE SLIDE                                                                                                       */
/* ================================================================================================================= */

.title-slide {
  background-image: url(https://raw.githack.com/datawookie/www-exegetic-biz/master/static/img/exegetic-logo.svg);
  background-position: 9% 15%;
  background-size: 100px;
  background-color: #fff;
  padding-left: 100px;  /* delete this for 4:3 aspect ratio */
}

.title-slide h1 {
  color: #515151;
  padding-top: 250px;
  font-weight: normal;
  font-size: 45px;
  text-align: left;
  text-shadow: none;
  padding-bottom: 18px;
  margin-bottom: 18px;
}

.title-slide h2 {
  color: #3498db;
  font-size: 35px;
  text-align: left;
  text-shadow: none;
  padding-top: 0px;
  margin-top: 0px;
}

.title-slide h3 {
  font-size: 28px;
  font-weight: normal;
  color: #666666;
  text-align: left;
  text-shadow: none;
  padding: 0px;
  margin: 0px;
  line-height: 1;
}

/* Remove slide count */
.title-slide .remark-slide-number {
  text-shadow: none;
}

/* ================================================================================================================= */
/* SECTION DIVIDERS                                                                                                  */
/* ================================================================================================================= */

.title-slide-section-red {
  background-color: #cc0033;
  padding-left: 100px;  /* delete this for 4:3 aspect ratio */
}
.title-slide-section-red h1, .title-slide-section-red h2, .title-slide-section-red h3, .title-slide-section-red p {
  color: #fff;
}

.title-slide-section-grey {
  background-color: #515151;
  padding-left: 100px;  /* delete this for 4:3 aspect ratio */
}
.title-slide-section-grey h1, .title-slide-section-grey h2, .title-slide-section-grey h3 {
  color: #fff;
}

.title-slide-section-grey p {
  color: #fff;
}

/* ================================================================================================================= */
/* FINAL SLIDE                                                                                                       */
/* ================================================================================================================= */

.title-slide-final {
  background-color: #272822;
  color: #fff;
  padding-left: 100px;
  text-shadow: 0 0 20px #333;
  text-align: center;
}

.title-slide-final h1 {
  color: #cc0033;
}

/* ================================================================================================================= */
/* SPLITS (Based on ninjutsu.css)                                                                                    */
/* ================================================================================================================= */

.split-two>.column:first-of-type  { width: 48%; left: 2%; }
.split-two>.column:nth-of-type(2) { width: 48%; }

/* ================================================================================================================= */
/* GLOBAL ADJUSTMENTS                                                                                                */
/* ================================================================================================================= */

/* Add padding to all slides for 16:9 aspect ratio */
.remark-slide-content {
  padding-left: 100px;  /* delete this for 4:3 aspect ratio */
}

strong {
  color: #3498db;
}

.blue {
  color: #0000CC;
  font-weight: bold;
}
.grey {
  color: #515151;
}
.lightgrey {
  color: #818181;
}
.black {
  color: black;
  font-weight: bold;
}
.white {
  color: white;
}

h1 {
  color: #cc0033;
}
h3 {
  color: #515151;
}

.big {
  font-size: 1.5em;
}

blockquote {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
  border-left: solid 10px #cc0033;
  background-color: #818181;
  padding: 1em;
  color: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
