.remark-slide-content {
  background-color: #FAFAFA;
  border-bottom: 5px solid #ff5f0f;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
  padding: 1em 5em 1em 5em
}

.title-slide .inverse .remark-slide-content {
  background-color: #FAFAFA;
}

.inverse {
  background-color: #121316;
  text-shadow: none;
}

.remark-slide-content > h1 {
  margin-top: 2px;
  font-family: 'Oswald';
  font-weight: normal;
  font-size: 35px;
  color: #ff5f0f;
}

.remark-slide-content > inverse {
width: 112px;
height: 47px;
border-bottom: 1px solid black;
position: absolute;
}

.remark-slide-content > h2 {
  padding-top: -30px;
  padding-bottom: 00px;
  color: #5b5b5b;
  text-shadow: none;
  font-weight: 400;
  font-size: 30px;
  text-align: left;
  margin-left: 00px;
}

.remark-slide-content > h3 {
  padding-top: -30px;
  padding-bottom: 00px;
  color: #b7b7b7;
  text-shadow: none;
  font-weight: 400;
  font-size: 25px;
  text-align: left;
  margin-left: 00px;
}

.title-slide {
  background-color: #efe3d7;
}

.title-slide > h1  {
  color: #1A292C;
  font-size: 50px;
  text-shadow: none;
  font-weight: 500;
  text-align: left;
  margin-left: 40px;
  padding-top: 60px;
}
.title-slide > h2  {
  margin-top: -25px;
  padding-bottom: -20px;
  color: #5b5b5b;
  text-shadow: none;
  font-weight: 350;
  font-size: 35px;
  text-align: left;
  margin-left: 40px;
}
.title-slide > h3  {
  color: #b7b7b7;
  text-shadow: none;
  font-weight: 300;
  font-size: 25px;
  text-align: left;
  margin-left: 40px;
  margin-bottom: -20px;
}

.remark-slide-number {
  font-size: 10pt;
  font-family: 'EB Garamond';
  color: #272822;
  opacity: 1;
}
.inverse .remark-slide-number {
  font-size: 10pt;
  font-family: 'EB Garamond';
  color: #FAFAFA;
  opacity: 1;
}

/* turns off slide numbers for title page: https://github.com/gnab/remark/issues/298 */
.title-slide .remark-slide-number {
  display: none;
}

.remark-inline-code {
  font-size: 30px;
  color: #0072ff;
  border-radius: 1px;
  padding: 2px;
  background: #e0e0e0;
}

.remark-code-line-highlighted {
  background-color: #373832;
}
