/************************************
 *
 * Template-independent CSS code for formatting xaringan presentations
 *
 * For that extra bit of "hygge"
 *
 ************************************/


/**************
 *
 * Font size and colours
 *
 **************/


/* Colors are defined by the          */
/* Duke Branding Color Palette        */ 
/* https://styleguide.duke.edu/color-palette/   */

.Large { font-size: 144% }
.large { font-size: 120% }
.small { font-size: 90% }
.footnotesize { font-size: 80% }
.scriptsize { font-size: 70% }
.tiny { font-size: 60% }

.black { color: black; }
.red { color: #CC3300; }
.blue { color: #003366; }
.green { color: #728302; }
.yellow { color: #FFD960; }
.orange { color: #F09905; }
.purple { color: #993399; }
.gray { color: #666666; }
.grey { color: #B5B5B5; }

.bold { font-weight: bold; }
.bolder { font-weight: bolder; }


/******************
 * 
 * Coloured content boxes
 *
 ****************/


.content-box { 
    box-sizing: content-box;
    	background-color: #e2e2e2;
  /* Total width: 160px + (2 * 20px) + (2 * 8px) = 216px
     Total height: 80px + (2 * 20px) + (2 * 8px) = 136px
     Content box width: 160px
     Content box height: 80px */
}


.content-box-blue,
.content-box-gray,
.content-box-grey,
.content-box-neutral,
.content-box-duke-green,
.content-box-green,
.content-box-purple,
.content-box-red,
.content-box-yellow {
    border-radius: 15px;
    margin: 0 0 25px;
    overflow: hidden;
    padding: 20px;
    width: 100%;
}

.content-box-blue {
    /* set opacity in last decimal value of rgba */
    background-color: rgb(51,153,153);
    background-color: rgba(51,153,153,.85);

}

.content-box-gray {
    /* set opacity in last decimal value of rgba */
    background-color: rgb(102, 102, 102);
    background-color: rgba(102, 102, 102,.85);
}

.content-box-grey {
  /* set opacity: uncomment rgba line */ 
  /* alter opacity with last decimal value of rgba */
	background-color: rgb(181, 181, 181);
  /* background-color: rgba(181, 181, 181,.85); */
}

.content-box-neutral {
  background-color: #988675;
}


.content-box-duke-green {
  /* set opacity in last decimal value of rgba */
	background-color: rgb(114, 131, 2);
  background-color: rgba(114, 131, 2,.85);
}

.content-box-green {
  /* set opacity in last decimal value of rgba */
	background-color: rgb(161, 183, 13);
  background-color: rgba(161, 183, 13,.85);
}

.content-box-purple {
  /* set opacity in last decimal value of rgba */
	background-color: rgb(153, 51, 153);
  background-color: rgba(153, 51, 153, .85)
}

.content-box-red {
  /* set opacity in last decimal value of rgba */
	background-color: rgb(204, 51, 0);
  background-color: rgba(204, 51, 0,.85)
}

.content-box-yellow {
  /* set opacity in last decimal value of rgba */
	background-color: rgb(255, 217, 96);
  background-color: rgba(255, 217, 96, .85)
}


.full-width {
    display: flex;
    width: 100%;
    flex: 1 1 auto;
}



/***********
 *
 * Changed CSS
 *
 **************/

.opacity{
    opacity: 0.5;
}



.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(10px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}


.grayscale img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}






/**************
 *
 * Fancy stuff
 *
 **************/


.rotate-left {
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    transform: rotate(-2deg); 
}

.rotate-right {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    transform: rotate(2deg);     
}



/********** 
 * 
 * Image stuff
 *
 ************/


.polaroid img {
    border: 10px solid #fff;
    border-bottom: 45px solid #fff;
    -webkit-box-shadow: 3px 3px 3px #111;
    -moz-box-shadow: 3px 3px 3px #111;
    box-shadow: 3px 3px 3px #111;
}



.shadow {
    -moz-border-radius: 5px;
    -moz-box-shadow: 5px 5px 5px #aaa;
    -webkit-box-shadow: 5px 5px 5px #aaa;
    box-shadow: 5px 5px 5px #aaa;
    border-radius: 2px;  
}

/*******************
 *
 * Text alignment / justification
 *
 *******************/

.justify-left {
  text-align: left;
}

.justify-right {
  text-align: right;
}

.justify-center {
  text-align: center;
}


/* fix the help page '?' */

.remark-help-content td{
  color: black !important;
}

.remark-backdrop {
  background: #988675 !important;
}


/*  footer */

.footer-note {
    position: absolute;
    bottom: 5px;
    left: 10px;
    width: 200px;
    height: 25px;
}