@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono&display=swap');

body {
  font-family: "DM Sans", sans-serif;
  font-variant-ligatures: common-ligatures;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.remark-code, .remark-inline-code {
  font-family: "DM Mono", monospace;
}
