@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Anton);
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');

body, h2, h3 {
  font-family: 'Lato', 'Palatino Linotype', 'Book Antiqua', Palatino, 'Microsoft YaHei', 'Songti SC', serif;
}

h1 {
  font-family: 'Anton';
}

.remark-code, .remark-inline-code {
  font-family: 'Inconsolata', 'Lucida Console', Monaco, monospace;
}
