.remark-slide-content {
  border-top: 5px solid #007935;
  border-bottom: 5px solid #007935;
  font-size: 1.2em;
  padding: 20px 60px;
}

.remark-slide-content > h1 {
  margin-top: 20px;
  margin-bottom: 0px;
}

.inverse {
  background-color: #007935;
  border:none;
  font-color: #fff;
  text-shadow: none;
}

.inverse, .inverse h1, .inverse h2, .inverse a {
  color: #fff;
}

.inverse h3 {
  color: #000;
}

.inverse code {
  color: #E1E000;
}

.footnote {
  border-top: 1px solid #007935;
  font-size: 0.6em;
}

.remark-code-line-highlighted { background-color: rgba(225, 224, 0, 0.6); }

h1, h2 {
  color: #007935;
}

h3 {
  color: #47484D;
  margin: 0px;
  padding: 0px;
}

code {
  color: #007935;
}

a {
  color: #3F97B5;
  text-decoration: none;
  transition: all .2s ease-in-out;
}

a:hover {
    font-size: 1.2em;
    color: #EC008C;
}

.remark-slide-number {
  font-size: 0.6em;
}

.title-slide {
  background-image: url(https://github.com/DJAnderson07/figs/raw/master/UOSignature-107-4C.png);
  background-position: 95% 95%;
  background-size: 250px;
  border: 10px solid #154733;;
}

.title-slide h1 {
  padding-top: 260px;
  font-size: 60px;
  text-align: left;
  padding-bottom: 18px;
  margin-bottom: 18px;
}

.title-slide h2 {
  font-size: 40px;
  text-align: left;
  padding-top: 0px;
  margin-top: 0px;
}

.title-slide h3 {
  font-size: 30px;
  color: #26272A;
  text-align: left;
  text-shadow: none;
  padding: 0px;
  margin: 0px;
  line-height: 1;
}

.title-slide .remark-slide-number {
  display: none;
}

.mjx-chtml { font-size: 100% !important; }
